menu{
    background-color:darkcyan;
    padding: 8px 0;
    margin-left: 20px;
    color:white; 
    width: 90%;

}
menu a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
menu a:visited {
         color: khaki;
}
body{
background-color: beige;
}
main
{
    display: block;
    margin-left: 20px;
    width: 90%;
    background-color: aquamarines;

}
h2{
    color: darkcyan;
}

footer{
background-color:darkcyan;
    padding: 8px 0;
  text-align: center;
    margin: 0;
    color:white; 
    width: 100%;
    margin-top: 10px;
}

.project{
    padding: 10px;
    margin-top: 10px;
    background-color: antiquewhite;

}


.poular{
     padding: 10px;
     margin-top: 10px;
     background-color: antiquewhite;
}
.poular table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-family: Arial, sans-serif;
            border: 1px, solid, gray;
        }
.poular table td{
    border: 1px, solid, gray;
    background-color: antiquewhite;
    padding: 5px;
}
 .poular table tr{   border: 1px, solid, gray;
    background-color: antiquewhite;
padding: 5px;}
.poular table th{
    border: 1px, solid, grey;
    background-color: darkcyan;
    color: white;
    font-family: Arial, sans-serif;
    font-size: large;
    text-align: left;
    padding: 5px;
}
.galler{
     padding: 10px;
    margin-top: 10px;
    background-color: antiquewhite;
}
.galler img 
{
     width: 350px; height: 300px; 
}

.plan{ padding: 10px;
    margin-top: 10px;
    background-color: antiquewhite;
  
}
.plan button{
  padding: 8px 14px;
  width: 150px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  color:antiquewhite;
  background-color: darkcyan;
}
.plan input{
    width: 100%;
}
.plan select{
    width: 100%;
}
.plan textarea{
    width: 100%;
}
.contact{ padding: 10px;
    margin-top: 10px;
background-color: antiquewhite;}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}